.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffffff33;
  background-size: cover;
  height: 90px;
  width: 160px;
  margin: 20px;
}
.pic {
  height: 50px;
  width: 50px;
}
.para {
  color: whitesmoke;
  font-family: 'Times New Roman';
  font-size: 18px;
}
.container {
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
}
